ANTHROPIC_API_KEY="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"
SUPABASE_URL = "https://hhsjquqspelkjglhjjgz.supabase.co"
SUPABASE_KEY = "sb_publishable_fdhIpl1vkCizoN86db-m9Q_8QVPf3S-"


